@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700;800;900&family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,400;1,600&display=swap');

 body{
  font-family: 'Open Sans', sans-serif;

} 
.scrollable-list::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.scrollable-list::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}

/* Firefox */
.scrollable-list {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #c4c4c4 transparent; /* thumb and track color */
}